# Node modules
node_modules/

# Logs
*.log
npm-debug.log

Server/uploads/


# Environment files
.env

# OS-specific files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
.AppleDouble
.LSOverride

# Build output
build/
dist/

# IDE-specific files
.vscode/
.idea/

# Test results
test-results/

# Optional: If you have a coverage folder
coverage/

# Security/Sensitive files (ex: keys, config)
config.json


# Temporary files
*.swp        # Vim swap files
*.bak        # Backup files
*.tmp        # Temporary files
*.swpx       # Backup files created by some text editors
*~           # Emacs backup files
*.sublime-workspace   # Sublime Text workspace files
*.sublime-project    # Sublime Text project files
*.log.*      # Log files with extensions (e.g., .log.1, .log.gz)